<form name="userForm" #userForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="newPassword" [(ngModel)]="model.newPassword"
       #email="ngModel" matInput placeholder="New password">
    </mat-form-field>
    <mat-form-field>
      <input name="confirmPassword" [(ngModel)]="model.confirmPassword"
       #username="ngModel" matInput placeholder="Confirm password">
    </mat-form-field>
    <div class="error" *ngIf="model.confirmPassword !== model.newPassword">Passwords must match</div>
    <button
     class="confirm-button" (click)="resetPassword()">Reset</button>
</form>